<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="{% url 'Home' %}">FakeTwitter</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            </ul>
            {% if request.user.is_authenticated %}
            <div class="d-flex align-items-center gap-4"> 
                <p class="m-1">Welcome Back {{user.username | title}}</p>
                <a class="btn btn-secondary" href="{% url 'Logout' %}">Logout</a>
            </div> 
            {% else %}
                <a class="btn btn-secondary" href="{% url 'Login' %}">Login</a> 
            {% endif %}
        </div>
</nav>