{% extends 'base.html' %}


{% block body %}
<div class="backg p-2">
    {% if request.user.is_authenticated %}
        <div class="d-flex flex-row gap-2">
        <div class="d-flex flex-column gap-2 w-75">
            {% for post in posts %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{post.username}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{post.data_created}}</h6>
                    <p class="card-text">{{post.conteudo}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="d-flex flex-column gap-2 w-25 align-items-center">
            {% comment %} <a class="btn btn-success w-100" href="#">Novo Post</a> {% endcomment %}
            <button type="button" class="btn btn-success w-100 p-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Novo Post</button>
            <p>Usuario Seguido</p>
            <lu class="list-group">
                {% for user in seguindo %}
                <li class="list-group-item">{{user.usuario_sequido_username}}</li>
                {% endfor %}
            </lu>
        </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <form method="post">
                {% csrf_token %}
                    <div class="modal-header bg-dark">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button border-white" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="titleFormControlInput" class="form-label text-secondary">Título</label>
                            <input type="text" class="form-control" id="titleFormControlInput" name="titulo">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label text-secondary">Conteúdo</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="conteudo"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    {% else %}
        <p>Por favor faça login.</p>
    {% endif %}
</div>
{% endblock %}