{% extends "base.html" %}

{% block body %}
<div class="d-flex flex-column align-items-center">
<div class="d-flex p-2 justify-content-center mt-5 backg txtp">
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="inputUsername" class="form-label text-white">Usuario</label>
            <input type="text" class="form-control" id="inputUsername" name="username">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label text-white">Senha</label>
            <input type="password" class="form-control" id="inputPassword" name="password">
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>
    
    <hr>
    <a class="link link-light" href="{% url 'Login' %}">Faça o seu login</a>
</div>
{% endblock %}