{% extends "base.html" %}

{% block body %}
<div class="row gap-2 mt-5 justify-content-md-center">
    {% for user in users %}
    <div class="card mb-3 col-12 col-md-auto ">
        <div class="row g-0">
            <div class="col-md-4 align-content-center justify-content-center">
                <i class="bi bi-person-bounding-box h1"></i>
            </div>
            <div class="col-md-8 ">
            <div class="card-body">
                <h5 class="card-title">{{ user.username | title}}</h5>
                <p class="card-text">{{ user.email}}</p>
                <p class="card-text"><small class="text-body-secondary">{{ user.date_joined }}</small></p>
            </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}